In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()

In [5]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x00000248C735AC10>

In [6]:
# Print the tables in the catalog
print(spark.catalog.listTables())

[]

In [13]:
data = [
    (1, "New York", "USA"),
    (2, "London", "UK"),
    (3, "Tokyo", "Japan"),
    (4, "Paris", "France"),
    (5, "Berlin", "Germany"),
    (6, "Sydney", "Australia"),
    (7, "Toronto", "Canada"),
    (8, "Dubai", "UAE"),
    (9, "Beijing", "China"),
    (10, "Moscow", "Russia"),
    (11, "Mumbai", "India"),
    (12, "Cape Town", "South Africa"),
    (13, "Buenos Aires", "Argentina"),
    (14, "Rome", "Italy"),
    (15, "Singapore", "Singapore"),
    (16, "Bangkok", "Thailand"),
    (17, "Mexico City", "Mexico"),
    (18, "Madrid", "Spain"),
    (19, "Istanbul", "Turkey"),
    (20, "Seoul", "South Korea")
]

columns = ["id", "city", "country"]
df = spark.createDataFrame(data, columns)

# Save the DataFrame as a table
df.write.saveAsTable("flights")

In [14]:
print(spark.catalog.listTables())

[Table(name='flights', catalog='spark_catalog', namespace=['default'], description=None, tableType='MANAGED', isTemporary=False)]

In [16]:
query = " SELECT *  FROM flights ORDER BY ID LIMIT 5"
flights5 = spark.sql(query)
flights5.show()

+---+--------+-------+
| id|    city|country|
+---+--------+-------+
|  1|New York|    USA|
|  2|  London|     UK|
|  3|   Tokyo|  Japan|
|  4|   Paris| France|
|  5|  Berlin|Germany|
+---+--------+-------+

In [22]:
import pandas

In [24]:
query = "SELECT country, COUNT(city) as count_of_cities FROM flights GROUP BY country"

flight_counts = spark.sql(query)

# Convert the results to a pandas DataFrame
pd_counts = flight_counts.toPandas()

print(pd_counts.head())

        country  count_of_cities
0  South Africa                1
1     Argentina                1
2        Mexico                1
3     Australia                1
4      Thailand                1

In [28]:
import numpy as np

In [31]:
pd_temp = pandas.DataFrame(np.random.random(10))

spark_temp = spark.createDataFrame(pd_temp)

print(spark.catalog.listTables())

[Table(name='flights', catalog='spark_catalog', namespace=['default'], description=None, tableType='MANAGED', isTemporary=False)]

In [36]:
# Add spark_temp to the catalog
spark_temp.createOrReplaceTempView("temp_table")

print(spark.catalog.listTables())

[Table(name='flights', catalog='spark_catalog', namespace=['default'], description=None, tableType='MANAGED', isTemporary=False), Table(name='temp_table', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]